* {
  margin: 0;
  padding: 0;
  /* border: 0.5px solid red; */
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.body.lock {
  overflow: hidden;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
.header {
  width: 100%;
  background: url(../images/header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5px solid #ff0033;
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.header__logo {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__nav ul a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
.header__item {
  display: flex;
  flex-direction: column;
}
.header__phone-item {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__phone-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.header__phone {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.header__phone-btn {
  border-radius: 20px;
  background: #fff;
  align-self: flex-end;
  padding: 10px 19px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  margin-top: 10px;
}
/*promo*/
.promo {
  width: 100%;
  background: url(../images/main-promo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.promo__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.promo__text {
  max-width: 860px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.promo__text h1 {
  font-weight: 700;
  font-size: 102px;
  line-height: 1em;
  color: #fff;
}
.promo__text h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4em;
  color: #fff;
  margin-top: 30px;
}
.promo__text a {
  width: 380px;
  height: 70px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 75px;
  background: #ff0033;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*separator*/
.separator {
  width: 100%;
  background: #081a2a;
}
.separator__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.separator__wrapper h6 {
  max-width: 360px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4em;
  color: #99a3ab;
}
/*services*/
.services {
  width: 100%;
  background: #fff;
}
.services__wrapper {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
.services__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services__item:not(:last-child) {
  border-right: 1px dotted #202020;
}
.services__item:first-child {
  padding-right: 48px;
  box-sizing: border-box;
}
.services__item:nth-of-type(2) {
  padding-left: 80px;
  padding-right: 48px;
  box-sizing: border-box;
}
.services__item:nth-of-type(3) {
  padding-left: 80px;
  box-sizing: border-box;
}
.services__item h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #202020;
  max-width: 400px;
  width: 100%;
  margin-top: 13px;
  height: 70px;
}
.services__item p {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-top: 20px;
  color: #202020;
  margin-bottom: 1.6em;
}
.services__item ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services__item ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -1px;
  color: #202020;
}
.services__item ul li span {
  width: 20px;
  height: 20px;
  fill: #ff0033;
}
.warranty {
  width: 100%;
  background: url(../images/services-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc();
}
.warranty__wrapper {
  margin-top: 120px;
  display: flex;
}
.warranty__text {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 924px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 150px;
}
.warranty__text h3 {
  font-weight: 700;
  font-size: 62px;
  letter-spacing: -2.8px;
  color: #fff;
  margin-top: auto;
}
.warranty__text ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.warranty__text ul li {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2.8px;
  color: #fff;
}
.warranty__text ul li span {
  width: 50px;
  height: 50px;
}
.warranty__text ul li span svg {
  width: 45px;
  height: 45px;
  fill: #ff0033;
}
.warranty__desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.6em;
}
.warranty__desc p {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #898989;
  flex-basis: 50%;
  padding-right: 90px;
  box-sizing: border-box;
}
.warranty__play {
  width: 150px;
  height: 107px;
  cursor: pointer;
  margin: auto 0 auto auto;
}
.warranty__play img {
  width: 100%;
  height: 100%;
}
/*video-popup*/
.video-popup {
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.video-popup.active {
  visibility: visible;
}
.video-wrapper {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  padding: 10px 10px 40px 10px;
  box-sizing: border-box;
}
.video-wrapper img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}
.video-inner {
  width: 100%;
  height: 100%;
  background: #000;
}
.video-inner iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*actions*/
.actions {
  width: 100%;
}
.actions__wrapper {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.actions__item {
  display: flex;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #002137;
}
.actions__item:last-child {
  border-bottom: 1px solid transparent;
}
.actions__num {
  width: 240px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 102px;
  line-height: 1em;
  color: #ff0033;
}
.actions__text {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.actions__text h3 {
  font-weight: 700;
  font-size: 62px;
  line-height: 1.2em;
  letter-spacing: -3.8px;
  color: #202020;
  max-width: 1028px;
  width: 100%;
}
.actions__text-item {
  display: flex;
  gap: 50px;
}
.actions__text-list {
  max-width: 504px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.actions__text-list li {
  display: flex;
  align-items: baseline;
  gap: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 22px;
  line-height: 35px;
  color: #ff0033;
}
.actions__text-list li svg {
  width: 20px;
  height: 20px;
  fill: red;
}
.actions__text-desc {
  max-width: 450px;
  width: 100%;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 22px;
  line-height: 35px;
  color: #737373;
}
.actions__image {
  max-width: 332px;
  width: 100%;
  display: flex;
}
.actions__image img {
  width: 150px;
  height: 150px;
  margin-left: auto;
}
/*discussion*/
.discussion {
  width: 100%;
  background: url(../images/discussion-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 120px;
  padding-top: 190px;
}
.discussion__wrapper {
  display: flex;
}
.discussion__text {
  max-width: 890px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.discussion__text h2 {
  font-size: 62px;
  line-height: 1.2em;
  color: #fff;
  margin-bottom: 50px;
}
.discussion__text p {
  margin-bottom: 1.6em;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}
.discussion__text a {
  width: 260px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0033;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
/*news*/
.news {
  width: 100%;
  margin-top: 120px;
}
.news__wrapper {
  display: flex;
  flex-direction: column;
}
.news__wrapper h3 {
  font-weight: 700;
  font-size: 62px;
  line-height: 1.2em;
  color: #202020;
}
.news__inner {
  width: 100%;
  display: flex;
  margin-top: 70px;
  gap: 50px;
}
.news__item-right {
  max-width: 1052px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.news__item-right img {
  width: 100%;
  height: 650px;
}
.news__item-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.news__item-text h4 {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2em;
  color: #202020;
}
.news__item-text p {
  font-size: 22px;
  color: #737373;
}
.news__item-left {
  max-width: 508px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.news__item-left img {
  width: 100%;
  height: 650px;
}
.news__item-btn {
  font-weight: 700;
  font-size: 17px;
  color: #737373;
  text-transform: uppercase;
  background-color: #ececec;
  padding: 20px 40px;
  width: fit-content;
}
