@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  /* border: 0.5px solid red; */
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.body.lock {
  overflow: hidden;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1619px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
.header {
  width: 100%;
  background: url(../images/header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5px solid #ff0033;
}
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
  }
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .header__wrapper {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header__logo {
  width: 380px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 200px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .header__nav {
    display: none;
  }
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
}
.header__nav ul a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}
.header__nav ul a:hover,
.header__nav ul a.active {
  color: #ff0033;
}
.header__item {
  display: flex;
  flex-direction: column;
}
.header__phone-item {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__phone-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.header__phone {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.header__phone-btn {
  border-radius: 20px;
  background: #fff;
  align-self: flex-end;
  padding: 10px 19px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  margin-top: 10px;
}
.mobile-menu {
  display: none;
}
/*-----адаптив-----*/
.header__burger {
  display: none;
  border-top: 1px solid transparent;
}
@media screen and (max-width: 1200px) {
  .mobile-menu.active {
    border-top: 1px solid #ff0033;
    display: flex;
    width: 100%;
    height: 100dvh;
    background: #0b283c;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
  }
  .mobile-menu__wrapper {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__wrapper ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .mobile-menu__wrapper ul li a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #fff;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .header__burger:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1200px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1200px) {
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1200px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1200px) {
  .header__burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1200px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
/*promo*/
.promo {
  width: 100%;
  background: url(../images/main-promo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
@media screen and (max-width: 767px) {
  .promo {
    background: url(../images/promo-bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.promo__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .promo__wrapper {
    padding-top: 135px;
    padding-bottom: 415px;
    box-sizing: border-box;
  }
}
.promo__text {
  max-width: 860px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.promo__text h1 {
  font-weight: 700;
  font-size: 102px;
  line-height: 1em;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .promo__text h1 {
    font-size: 56px;
  }
}
@media screen and (max-width: 767px) {
  .promo__text h1 {
    font-size: 42px;
    text-align: center;
  }
}
.promo__text h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4em;
  color: #fff;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .promo__text h4 {
    font-size: 14px;
    text-align: center;
  }
}
.promo__text a {
  width: 380px;
  height: 70px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 75px;
  background: #ff0033;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .promo__text a {
    width: 258px;
    height: 52px;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 50px auto 0;
  }
}
/*separator*/
.separator {
  width: 100%;
  background: #081a2a;
}
.separator__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 1150px) {
  .separator__wrapper {
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .separator__wrapper {
    max-width: 295px;
    flex-direction: column;
  }
}
.separator__wrapper h6 {
  max-width: 360px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4em;
  color: #99a3ab;
}
@media screen and (max-width: 768px) {
  .separator__wrapper h6 {
    max-width: 100%;
    font-size: 14px;
  }
}
/*services*/
.services {
  width: 100%;
  background: #fff;
}
.services__wrapper {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
@media screen and (max-width: 1150px) {
  .services__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .services__wrapper {
    margin-top: 60px;
  }
}
.services__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services__item:not(:last-child) {
  border-right: 1px dotted #202020;
}
@media screen and (max-width: 1150px) {
  .services__item:not(:last-child) {
    border-right: none;
    border-bottom: 1px dotted #202020;
  }
}
.services__item:first-child {
  padding-right: 48px;
  box-sizing: border-box;
}
.services__item:nth-of-type(2) {
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}
.services__item:nth-of-type(3) {
  padding-left: 80px;
  box-sizing: border-box;
}
@media screen and (max-width: 1376px) {
  .services__item:first-child {
    padding-right: 30px;
  }
  .services__item:nth-of-type(2) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .services__item:nth-of-type(3) {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1150px) {
  .services__item:nth-of-type(2) {
    padding-left: 0;
  }
  .services__item:nth-of-type(3) {
    padding-left: 0;
  }
}
@media screen and (max-width: 960px) {
  .services__item:first-child {
    padding-right: 20px;
  }
  .services__item:nth-of-type(2) {
    padding-right: 20px;
  }
}
.services__item h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #202020;
  max-width: 400px;
  width: 100%;
  margin-top: 13px;
  min-height: 105px;
}
@media screen and (max-width: 1376px) {
  .services__item h4 {
    min-height: fit-content;
    margin-bottom: 1.6em;
  }
}
@media screen and (max-width: 1150px) {
  .services__item h4 {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
  }
}
@media screen and (max-width: 767px) {
  .services__item h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.services__item p {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #202020;
  margin-bottom: 1.6em;
}
@media screen and (max-width: 767px) {
  .services__item p {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.services__item ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1.6em;
}
@media screen and (max-width: 1150px) {
  .services__item ul {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .services__item ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.services__item ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -1px;
  color: #202020;
}
@media screen and (max-width: 767px) {
  .services__item ul li {
    font-size: 14px;
  }
}
.services__item ul li span {
  width: 20px;
  height: 20px;
  fill: #ff0033;
}
.warranty {
  width: 100%;
  background: url(../images/services-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .warranty {
    width: 100%;
    background: url(../images/services-bg-mb.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.warranty__wrapper {
  margin-top: 120px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 1400px) {
  .warranty__wrapper {
    margin-top: 50px;
    padding-top: 200px;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 1023px) {
  .warranty__wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .warranty__wrapper {
    padding-top: 270px;
  }
}
.warranty__text {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 924px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 150px;
}
@media screen and (max-width: 1400px) {
  .warranty__text {
    height: fit-content;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1023px) {
  .warranty__text {
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .warranty__text {
    text-align: center;
  }
}
.warranty__text h3 {
  font-weight: 700;
  font-size: 62px;
  letter-spacing: -2.8px;
  color: #fff;
  margin-top: auto;
}
@media screen and (max-width: 1024px) {
  .warranty__text h3 {
    font-size: 32px;
    letter-spacing: -0rem;
  }
}
.warranty__text ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (max-width: 1023px) {
  .warranty__text ul {
    /* margin-top: 0; */
  }
}
.warranty__text ul li {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2.8px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .warranty__text ul li {
    font-size: 32px;
    letter-spacing: -0rem;
  }
}
@media screen and (max-width: 1023px) {
  .warranty__text ul li {
    gap: 20px;
    line-height: 50px;
  }
}
.warranty__text ul li span {
  width: 50px;
  height: 50px;
}
.warranty__text ul li span svg {
  width: 45px;
  height: 45px;
  fill: #ff0033;
}
@media screen and (max-width: 1023px) {
  .warranty__text ul li span {
    width: 20px;
    height: 20px;
    display: flex;
  }
  .warranty__text ul li span svg {
    width: 20px;
    height: 20px;
    fill: #ff0033;
  }
}
.warranty__desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.6em;
}
@media screen and (max-width: 1400px) {
  .warranty__desc {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .warranty__desc {
    text-align: center;
  }
}
.warranty__desc p {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #898989;
  flex-basis: 50%;
  padding-right: 90px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .warranty__desc p {
    font-size: 16px;
    padding-right: 0;
  }
}

.warranty__play {
  width: 150px;
  height: 107px;
  cursor: pointer;
  margin: auto 0 auto auto;
}
@media screen and (max-width: 1023px) {
  .warranty__play {
    margin: 0 auto;
  }
}
.warranty__play img {
  width: 100%;
  height: 100%;
}
/*video-popup*/
.video-popup {
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.video-popup.active {
  visibility: visible;
}
.video-wrapper {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  padding: 10px 10px 40px 10px;
  box-sizing: border-box;
}
.video-wrapper img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}
.video-inner {
  width: 100%;
  height: 100%;
  background: #000;
}
.video-inner iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*actions*/
.actions {
  width: 100%;
}
.actions__wrapper {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .actions__wrapper {
    margin-top: 50px;
  }
}
.actions__item {
  display: flex;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #002137;
}
.actions__item:last-child {
  border-bottom: 1px solid transparent;
}
@media screen and (max-width: 1200px) {
  .actions__item {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .actions__item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.actions__num {
  width: 240px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 102px;
  line-height: 1em;
  color: #ff0033;
}
@media screen and (max-width: 1200px) {
  .actions__num {
    width: fit-content;
    margin-right: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .actions__num {
    font-size: 46px;
  }
}
@media screen and (max-width: 767px) {
  .actions__num {
    display: none;
  }
}
.actions__text {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media screen and (max-width: 1200px) {
  .actions__text {
    max-width: 570px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .actions__text {
    gap: 50px;
  }
}
.actions__text h3 {
  font-weight: 700;
  font-size: 62px;
  line-height: 1.2em;
  color: #202020;
  max-width: 1028px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .actions__text h3 {
    font-size: 46px;
  }
}
@media screen and (max-width: 768px) {
  .actions__text h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  .actions__text h3 {
    font-size: 32px;
  }
}

.actions__text-item {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .actions__text-item {
    flex-direction: column;
  }
}
.actions__text-list {
  max-width: 504px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .actions__text-list {
    max-width: fit-content;
  }
}
.actions__text-list li {
  display: flex;
  align-items: baseline;
  gap: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 22px;
  line-height: 35px;
  color: #ff0033;
}
@media screen and (max-width: 767px) {
  .actions__text-list li {
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: -0rem;
  }
}
.actions__text-list li svg {
  width: 20px;
  height: 20px;
  fill: red;
}
.actions__text-desc {
  max-width: 450px;
  width: 100%;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 22px;
  line-height: 35px;
  color: #737373;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .actions__text-desc {
    max-width: fit-content;
  }
}
@media screen and (max-width: 767px) {
  .actions__text-desc {
    font-size: 16px;
    line-height: 30px;
  }
}
.actions__image {
  max-width: 332px;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .actions__image {
    width: fit-content;
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .actions__image {
    display: none;
  }
}
.actions__image img {
  width: 150px;
  height: 150px;
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .actions__image img {
    width: 81px;
    height: auto;
  }
}
/*discussion*/
.discussion {
  width: 100%;
  background: url(../images/discussion-bg-2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 120px;
  padding-top: 190px;
}
@media screen and (max-width: 1024px) {
  .discussion {
    background: url(../images/discussion-bg-3.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .discussion {
    background: url(../images/discussion-bg-4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
  }
}
.discussion-two {
  background: url(../images/discussion-bg.webp);
  background-position: right;
  margin-top: 0;
  padding-top: 150px;
  padding-bottom: 120px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .discussion-two {
  }
}
@media screen and (max-width: 767px) {
  .discussion-two {
    background: url(../images/discussion-bg-375.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.discussion__wrapper {
  display: flex;
}
.discussion__text {
  max-width: 890px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1024px) {
  .discussion__text {
    max-width: 600px;
    margin: 100px 0 100px auto;
  }
}
@media screen and (max-width: 767px) {
  .discussion__text {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 550px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
}
.discussion__text-two {
  max-width: 817px;
}
@media screen and (max-width: 1024px) {
  .discussion__text-two {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .discussion__text-two {
    padding-top: 0;
    padding-bottom: 0;
  }
  .discussion__text-two h2 {
    margin-top: 150px;
  }
}
.discussion__text h2 {
  font-size: 62px;
  line-height: 1.2em;
  color: #fff;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .discussion__text h2 {
    font-size: 32px;
  }
}
.discussion__text p {
  margin-bottom: 1.6em;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .discussion__text p {
    font-size: 14px;
    line-height: 28px;
  }
}
.discussion__text a {
  width: 260px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0033;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .discussion__text a {
    width: 272px;
    height: 62px;
    margin: 0 auto;
  }
}
/*news*/
.news {
  width: 100%;
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .news {
    margin-top: 60px;
  }
}
.news__wrapper {
  display: flex;
  flex-direction: column;
}
.news__wrapper h3 {
  font-weight: 700;
  font-size: 62px;
  line-height: 1.2em;
  color: #202020;
}
@media screen and (max-width: 1024px) {
  .news__wrapper h3 {
    font-size: 46px;
    letter-spacing: -0.04rem;
  }
}
@media screen and (max-width: 767px) {
  .news__wrapper h3 {
    font-size: 32px;
  }
}
.news__inner {
  width: 100%;
  display: flex;
  margin-top: 70px;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .news__inner {
    margin-top: 50px;
  }
}
.news__item-right {
  max-width: 1052px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.news__item-right img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
}
.news__item-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .news__item-text {
    gap: 30px;
  }
}
.news__item-text h4 {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2em;
  color: #202020;
}
@media screen and (max-width: 1024px) {
  .news__item-text h4 {
    font-size: 20px;
  }
}
.news__item-text p {
  font-size: 22px;
  color: #737373;
}
@media screen and (max-width: 1024px) {
  .news__item-text p {
    font-size: 16px;
    line-height: 30px;
  }
}
.news__item-left {
  max-width: 508px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .news__item-left {
    display: none;
  }
}
.news__item-left img {
  width: 100%;
  max-height: 650px;
}
.news__item-btn {
  font-weight: 700;
  font-size: 17px;
  color: #737373;
  text-transform: uppercase;
  background-color: #ececec;
  padding: 20px 40px;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .news__item-btn {
    padding: 15px 35px;
  }
}
@media screen and (max-width: 767px) {
  .news__item-btn {
    padding: 10px 30px;
    margin: 0 auto;
  }
}
/*map*/
.map {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .map {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.map__wrapper {
  display: flex;
  flex-direction: column;
}
.map__wrapper h2 {
  font-size: 62px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .map__wrapper h2 {
    font-size: 46px;
  }
}
.map__tabs-items {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .map__tabs-items {
    gap: 10px;
  }
}
.map__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  color: #202020;
  border: 1px solid #ececec;
  cursor: pointer;
  padding: 5px 32px;
}
@media screen and (max-width: 1024px) {
  .map__tab {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .map__tab {
    font-size: 22px;
    padding: 5px 10px;
  }
}
.map__tab.active {
  color: #fff;
  background: #ff0033;
}
.map__info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .map__info {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .map__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
.map__info-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .map__info-item {
    width: 100%;
  }
}
.map__info-item:last-child {
  width: fit-content;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .map__info-item:last-child {
    margin-left: 0;
  }
}
.map__info-item h6 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4em;
  color: #737373;
}
@media screen and (max-width: 1024px) {
  .map__info-item h6 {
    font-size: 16px;
  }
}
.map__info-item a {
  display: flex;
  gap: 10px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 22px;
  color: #202020;
}
@media screen and (max-width: 1024px) {
  .map__info-item a {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .map__info-item a {
    margin-top: 5px;
  }
}
.map__info-item a span {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map__page {
  display: none;
  flex-direction: column;
}
.map__page.active {
  display: flex;
}
.map__main {
  width: 100%;
}
/*footer*/
.footer {
  width: 100%;
  background: #001829;
}
.footer__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 1023px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    align-items: flex-start;
    gap: 30px;
  }
}
.footer__logo {
  width: 280px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 250px;
  }
}
.footer__inner {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 1070px) {
  .footer__inner {
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
.footer__links {
  max-width: 380px;
  width: 100%;
}
.footer__links a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #99a3ab;
}
@media screen and (max-width: 767px) {
  .footer__links a {
    font-size: 14px;
  }
}
.footer__adress li {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #99a3ab;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__social li a {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .footer__social li a {
    width: 36px;
    height: 36px;
  }
}
.footer__social li a svg {
  width: 26px;
}
/*popup расчет стоимости*/
.calculation-popup {
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.calculation-popup.active {
  visibility: visible;
}
.calculation-wrapper {
  max-width: 724px;
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
@media screen and (max-width: 767px) {
  .calculation-wrapper {
    height: 90dvh;
    overflow: auto;
  }
}
.calculation-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .calculation-close {
    top: 10px;
    right: 10px;
  }
}
.calculation-wrapper h3 {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  padding: 15px 31px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(82, 92, 105, 0.11);
}
.calculation-form {
  width: 100%;
  padding: 14px 31px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.title-center {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .calculation-form {
    padding: 14px 18px;
  }
}
.calculation-item {
  display: flex;
  flex-direction: column;
}
.calculation-item label {
  font-size: 20px;
  line-height: 36px;
  color: #000;
  margin: 29px 0 15px;
}
.calculation-form input {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.04);
  border: navajowhite;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 17px;
}
.calculation-form input::placeholder {
  font-size: 17px;
}
input:focus::placeholder {
  color: transparent;
}
input:focus {
  outline: 1px solid #ff0033;
  background: #fff;
}
.calculation-agreement {
  display: flex;
  gap: 12px;
  cursor: pointer;
}
.calculation-agreement p {
  font-size: 12px;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  max-width: 95%;
}
.calculation-agreement span {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #00000055;
  display: flex;
  border-radius: 2px;
}
.calculation-agreement span img {
  width: 13px;
  height: 13px;
}
.calculation-agreement span.active {
  background-color: #ff0033;
}
.calculation-btn {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #ff0033;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 17px;
  cursor: not-allowed;
  pointer-events: none;
}
.calculation-btn.active {
  cursor: pointer;
  pointer-events: initial;
}
/*popup расчет стоимости и срока*/
